:root {
  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

  --ff-fraunces: "Fraunces", serif;
  --ff-montserrat: "Montserrat", serif;

  font-size: 14px;
  font-weight: 500;
}

.desktop-only {
  display: none;
}
.mobile-only {
  display: block;
}

body {
  background-color: var(--Cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  font-family: "Montserrat", serif;
  background: var(--White);
  display: flex;
  flex-direction: column;
  width: 335px;
  border-radius: 0.8rem;
}
.image-box {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 0.8rem 0.8em 0 0;
  overflow: hidden;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
}
.info {
  padding: 1.5rem;
}
.info p:nth-child(1) {
  letter-spacing: 5px;
}
.info h1 {
  margin-block: 1rem;
}
.info p:nth-child(3) {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.info p:nth-child(4) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.info a {
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--Darkcyan);
  padding: 1em;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }
  .container {
    flex-direction: row;
    width: 550px;
    font-size: 13px;
  }
  .image-box {
    border-radius: 0.8rem 0 0 0.8rem;
    width: 50%;
    height: 100%;
  }
  .info {
    width: 50%;
    padding: 1rem 2rem 1rem;
  }
  .info p:nth-child(1) {
    font-size: 11px;
    margin-block: 1rem 1.5rem;
  }
  .info p:nth-child(3) {
    font-size: 0.93rem;
    margin-block: 2rem;
    line-height: 1.5;
  }
  .info p:nth-child(4) {
    margin-bottom: 2rem;
  }
  .info s {
    font-size: 0.85rem;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
  }
  .info a {
    padding: 1.1em 2em;
    gap: 10px;
  }
  .info a:hover {
    background-color: hsl(156, 42%, 18%);
  }
}

/* Utility classes */

.ff-1 {
  font-family: var(--ff-fraunces);
}
.ff-2 {
  font-family: var(--ff-montserrat);
}
.heading-clr {
  color: var(--Verydarkblue);
}
.p-clr {
  color: var(--Darkgrayishblue);
}
.main-clr {
  color: var(--Darkcyan);
}
.heading {
  font-size: 2.1rem;
}
.fw-bold {
  font-weight: 700;
}
